<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Mike Merryman**  
Senior Data Analyst

*I am interested in data science because I want to do more with the data we have. I want to create models and visualizations in a more impactful way to the teams I support.*

### The following code is meant to square the numbers 2 and 4 and then add them together

In [2]:
2**2 + 4**2

20

1. ~~strkethrough applied~~  
2. numbered list used
3.